
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Employee Tracking</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a class="nav-link" href="/Employee/Index">Employee</a></li>                
                <li><a class="nav-link" href="/Holidays/Index">Holidays</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Security/Login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                <li><a style="margin-right:20px" href="/Security/Logout"><span class="glyphicon glyphicon-log-out"></span>  Logout  </a></li>
            </ul>
        </div>
    </nav>



    
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
